* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(171, 209, 240);
}
 
header {
    height: 100px;
    display: grid;
    place-content: center;
    align-items: center;
}
 
header,
h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    margin: 10px;
}
 
h1 {
    color: rgb(17, 73, 87);
    text-shadow:rgb(232, 179, 245)
}
 
main {
    flex-grow: 1;
}

.pesquisa-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa-container input{
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    background-color: rgba(67, 122, 224, 0.192);
    border: none;
    outline: none;
    padding-left: 15%;
   
}



.galeria-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}
 
.galeria-items {
    width: 430px;
    height: 340px;
    flex-grow: 1;
    border: 10px solid #ffff;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
 
.galeria-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    filter: grayscale(100%); 
}
 
.galeria-items:hover {
    box-shadow: 10px 10px 20px rgb(7, 18, 83);
}
 
.galeria-items:hover img {
    filter: grayscale(0%);
    transform: scale(1.3) rotate(10deg);
}

footer {
    height: 50px;
    display: flex;
    place-content: center;
    align-items: center;
}

.slide{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -999;
    opacity: 0;
    transition: all .5s linear;

}

.slide:target{
    z-index: 999;
    opacity: 1;
}

.slide .imagem-container{
    position: relative;
    height: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .icones{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0007;
    color: #FFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .fechar{
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

.slide .icones:hover{
    background-color: #FF4949;

}
.slide .anterior{
    left: 0;
    font-size: 2rem;
}

.slide .proximo{
    right: 0;
    font-size: 2rem;
}

.slide img{
    width: 100%;
    height: 100%;
}